/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 1em;
    background-color: rgb(240, 240, 240);
}

html {
    scroll-padding-top: 90px;
}

/* Background */
.fundo-azul {
    background-color: #B4D3DD;
}

/* Buttons */
button {
    background: none;
    color: inherit;
    border: none;
}

/* Headings */
h2 {
    font-weight: 600;
    font-size: 2em;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
    margin: 60px 90px 50px 90px;
}

/* Links */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 102, 143);
    border-bottom: 3px solid rgb(0, 102, 143);
}

a:active {
    color: rgb(94, 204, 255);
    border-bottom: 3px solid rgb(94, 204, 255);
}

#logo {
    padding-left: 50px;
    max-height: 80px; /* Tamanho padrão para telas grandes */
    max-width: 35%;
    height: auto;
}

/* Footer Year */
#ano {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

.barra {
    display: flex;
    position: fixed;
    top: -1px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    background-color: #b4d3dd75;
    position: fixed;
    width: 100%;
    z-index: var(--z-fixed);
    box-shadow: 0 1px 4px #74898f;
}

/* Options */
.barra a {
    font-weight: 500;
    padding-bottom: 10px;
    margin: 30px;
}

.opcao-ativada {
    border-bottom: 3px solid rgb(0, 83, 88);
}

/* Sections */
.secao {
    max-width: 70%;
}

.bloco {
    text-align: justify;
    margin: 25px 0;
}

#inicio .bloco {
    max-width: 500px;
}

#quemsomos .bloco {
    max-width: 600px;
}

#tutorial .secao {
    max-width: 630px;
    text-align: right;
}

#tutorial .bloco {
    text-align: right;
}

/* Small Block */
.minibloco {
    font-size: 0.75em;
    color: white;
    max-width: 200px;
}

.minibloco-centro {
    border-radius: 1ch;
    color: rgb(0, 0, 0);
    width: 230px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    display: inline-block;
}

/* Container */
.container {
    text-align: center;
    margin: auto;
    width: 90%;
}

/* Floating Elements */
.flutuante {
    float: right;
}

/* Buttons */
.botao {
    border-radius: 1ch;
    background-color: rgb(0, 83, 88);
    font-weight: 400;
    color: white;
    padding: 10px 30px;
    display: inline;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #2F99B0;
    color: white;
}

.botao:active {
    background-color: rgb(220, 247, 255);
    color: black;
}

/* Images */
#inicio {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding: 30px;
    padding-top: 70px;
}

#quemsomos {
    border-radius: 2em;
}

#quemsomos .alinhar {
    padding: 50px 30px;
}

#quemsomos .rodape .alinhar {
    padding: 0px;
    margin: 0px 10px;
}

.alinhar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#tutorial .alinhar {
    padding: 50px 50px 50px 20px;
}

.foto {
    max-width: 50%;
    height: auto;
}

#inicio .foto {
    max-height: 400px;
    margin-bottom: 30px;
}

#quemsomos .foto {
    max-width: 40%;
    max-height: 350px;
}

#tutorial .foto {
    max-height: 300px;
    margin-left: 40px;
}

/* Footer */
.rodape-sm {
    clear: both;
    background-color: #006181;
}

.rodape-sm {
    padding: 5px;
    margin-top: 78px;
}

.rodape {
    background-color: #006181;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    border-radius: 0ch 0ch 2em 2em;
}

/* Icons */
.icon {
    border-radius: 1ch;
    background-color: white;
    padding: 5px;
    margin: 10px;
    height: 20px;
}

.tabela {
    background-color: antiquewhite;
    text-align: center;
}

/* Title */
.titulo-analise {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    background-color: rgb(105, 184, 204);
    border-radius: 1ch 1ch 0 0;
    padding: 20px 50px;
    color: #004a63;
}

/* Form */
.grupo-formulario {
    padding: 30px;
}

.linha {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.coluna {
    flex: 1;
    margin: 0 20px;
}

/* Information */
.topico-informacao {
    margin: 15px 30px;
    text-align: left;
    padding-left: 30px;
}

.titulo-informacao {
    font-weight: bold;
    color: rgb(0, 83, 88);
}

/* Button Container */
.conteiner-botao {
    text-align: center;
    padding-bottom: 30px;
}

/* Result */
.resultado {
    font-weight: 500;
    text-align: center;
    border: solid 1px;
    border-radius: 1ch;
    padding: 10px;
    width: 80%;
    margin: 40px auto;
}

/* Result Container */
#conteiner-resultado, .conteiner {
    background-color: #f0f8ff;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 800px;
    width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Labels */
label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #166980;
}

/* Inputs */
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.alinhar2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.miniblock {
    display: block;
    text-align: center;
    margin: 15px;
}

.rodape-tutorial {
    color: rgb(0, 0, 0);
    width: 250px;
    text-align: center;
    font-size: 0.9em;
}